.scroll {
	background: #300 url("/img/content_pane_gradient_RED.png") repeat-x scroll left bottom;
}

#header div.artistName {
	color: #800;
}

table.list thead {
	background: #300;
}

table.list tbody {
	background: #300 url("/img/content_pane_gradient_RED.png") repeat-x scroll left bottom;
}

html, body {
	background: #300;
}

#help {
	background: #300 url("/img/content_pane_gradient_RED.png") repeat-x scroll left bottom;
}
