.scroll {
	background: #000528 url("/img/content_pane_gradient_RED.png") repeat-x scroll left bottom;
}

#header div.artistName {
	color: #004080;
}

table.list thead {
	background: #000528;
}

table.list tbody {
	background: #004080 url("/img/content_pane_gradient_BLUE.png") repeat-x scroll left bottom;
}

html, body {
	background: #000528;
}

#help {
	background: #004080 url("/img/content_pane_gradient_BLUE.png") repeat-x scroll left bottom;
}
