#button_bar div{
    float:left;
    margin-right:5px;
}

#button_bar{
    float:left;
    margin-bottom:10px;
}

#MlPlayerWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#MlPlayerList{
    width:80%;
    float:left;
}

#MlPlayerList h3 {
    font-size:18pt;
    padding: 0 0 0 .2em;
    text-align:left;
    cursor:pointer;
    margin:0;
}

#MlPlayerDescription {
    overflow:hidden;
    position:relative;
    float:right;
    width:18%;
    min-width:150px;
    border:#FB0 1px solid;
}

#MlPlayerListDescWrapper {
    clear:both;
}

.MlPlayerListItemSelected {
    text-shadow: 0 0 0.2em #fb0, 0 0 0.2em #fb0;
    color:#fff;
    background-color:#333;
    border:#FB0 1px solid;
}

.MlPlayerListItem {
    color:#ccc;
    background-color:#555;
    border: 1px solid #FFBB00;
    border-radius: 4px;
}

.MlPlayerListItem, .MlPlayerListItemSelected {
    cursor:default;
    text-align:left;
    margin-bottom:.5em;
    border:#fb0 1px solid;
    padding:.05em;
}

.MlPlayerListItem:hover {
    color:#fff;
    background-color:#888;
}


#volume_control {
    width:30%;
    height:20px;
    border: 2px solid #FFBB00;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float:left;
}

#volume_background{
    width:100%;
    height:20px;
    background-color:#ddd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#volume_bar{
    width:0px;
    height:20px;
    border-right: 2px solid #FFBB00;
    /* background-color:transparent; */
    /* background-color:#000; */
/* opacity:0.4;	 */
}

#duration{
    background-color:#000;
    /* width:100%; */
    height:15px;
    border: 2px solid #FFBB00;
    margin-bottom:5px;
}

#duration_bar{
    width:0px;
    height:10px;

    background-color:#0f0;
    opacity:0.4;
    z-index: 1;
}

#loading_bar{
    max-width:100%;
    //    position:absolute;
    width:0px;
    height:5px;
    background-color:#ccc;
    z-index: 0;
    opacity:0.4;
}

.button{
    color: black;
    border: 2px solid #FFBB00;
    cursor:pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background:no-repeat center;
    height:20px;
}

.button:hover {
    border: 2px solid #006918;
}

/* add the images to the backgrounds of the buttons */
#play{
    background-image:url("../img/player/play.png");
    width:20px;
}

#pause{
    background-image:url("../img/player/pause.png");
    width:20px;
    display:none;
}

#previous{
    background-image:url("../img/player/previous.png");
    width:25px;
}

#next{
    background-image:url("../img/player/next.png");
    width:25px;
}

#MlPlayerList {
    text-align:left;
}
