/*
 * * {
 *     /\* vertical-align:middle; *\/
 *     margin: 0;
 *     border:none;
 * }
 */

p, li, span, h1, h2, h3, h4, h5  {
    text-align: left;
    vertical-align:default;
}

p#footBr {
    height:3em;
}

html {
    background: #000528;
}

body {
    /* background: inherit; */
    color:#fff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.foregroundText {
    color:#fff;
}

.transparent_class {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.opaque_class {
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

.important {
    font-weight : bold;
}

.not_important {
    vertical-align:baseline;
    color:#fb0;
    font-size: .8em;
    margin:0;
}

* html div.content{
    height:100%;
    /*	overflow:auto;*/
    position: relative;
}

div#main {
    margin-left: auto;
    margin-right: auto;
    width:95%;
}

div#footer{
    display: none;
    z-index: 0;
    position:absolute;
    bottom: 0;
    left:300px;
    overflow-x: hidden;
    overflow-y: hidden;
    width:300px;
    height:200px;
    /* 	opacity:0.8; */
    /* 	padding:5px; */
    background: #000;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
}

div#myOwnPlayerFooter{
    display: none;
    z-index: 0;
    position:absolute;
    bottom: 0;
    left:25%;
    overflow-x: hidden;
    overflow-y: hidden;
    width:600px;
    height:450px;
    /* 	opacity:0.8; */
    /* 	padding:5px; */
    background: #000;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
}

#playerDiv, #myOwnPlayerFooter {
    z-index: 3;
}

#mskPlayer {
    z-index: 3;
}

#playerItself, #myOwnPlayerItself {
    z-index: 3;
}

.zindex-zero {
    z-index: 0;
}

.zindex-one {
    z-index: 5;
}

div#controlFooter {
    /* 	display: none; */
    /* 	z-index: 1; */
    height:3em;
    position:absolute;
    bottom: 0;
    width:100%;
    /* 	opacity:0.5; */
    background: #000;
    border-top: 5px solid #fff;
}

div#controlFooter img {
/*     margin:4px 0 5px 5px; */
}

div#controlFooter img#close_player {
    float:right;
}

#controlFooter-left {
    float:left;
    padding:.2em;
}

#controlFooter-right {
    display: none;
    float:right;
    margin:1px;
}

@media screen{
    body>div#footer{
	position:fixed;
    }
    body>div#myOwnPlayerFooter{
	position:fixed;
    }
    body>div#controlFooter{
	position:fixed;
    }
}

* html body {
    overflow:hidden;
}

/*.iconClose {
  float:right;
  text-align:right;
  width:15px;
  height: 15px;
  border-left:1px solid #000;
  border-bottom:1px solid #000;
  background: #fff url(img/icon-close.gif) no-repeat 100% 100%;
  opacity:1;
  filter:alpha(opacity=100);
  -moz-border-radius-topright: 10px;
  }*/

.iconClose:hover {
    background: #f00;
    background: #f00 url(img/button_close_on.png) no-repeat 100% 100%;
}

a:link {
    /* color:#FAFAD2; */
}

a:visited {
    /* color:#FAFAAB; */
}

a:hover {
    color:#FFBB00;
    text-decoration:none;
}

a:active {
    color:#fff;
    text-decoration:none;
}

img {
    border: 0;
}

.invisible {
    display:none;
}

.dark {
    color:#000;
}

/*Classe de tous les divs principaux*/

.main {
    /* width:95%; */
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
}

#header {
    border-bottom:1px solid #fff;
    overflow: hidden;
    height:200px;
}

#header .left {
    height:200px;
    float:left;
    width:70%;
}

#header .middle {
    margin:0;
    padding:0;
    height:200px;
    float:left;
    /* 	width:20%; */
    width:23px;
    background: url(img/arrowhead_right.png) no-repeat 0 0;
}

#header .middle img {

/* 	width:20%; */
}

#header .right {
    float:right;
    text-align:right;
    width:200px;
}

#header .cdSleeve, .index_sleeve .cdSleeve {
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

#header div.sleeves {
    text-align:right;
    width:200px;
    height:200px;
}

#header div.sleeves img {
    height:200px;
}

#sleeve_info {
    border:2px solid #fff;
    font-size: .8em;
    background: #000;
}

#header div.artistName {
    text-align: left;
    height: 98px;
    font: bolder 5em helvetica, sans-serif;

   -webkit-text-stroke: 2px black;
   color: #004080;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;


    /* color: 	#004080; */
    /*	position: relative;
	top: 0px;
	left: 15px;
        margin-left: 0px;
	margin-bottom: -70px;*/
    border-bottom:3px solid #fff;
}

#header div.albumName {
    text-align: left;
    font: lighter italic 2em sans-serif;
    color: #FFF;
   text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

    margin: -1.5em 0 0 1em;
/* 	font-variant: small-caps; */
}

p#trackComment {
    text-shadow:
    /* 1px 1px 0 #000, */
    /* -1px -1px 0 #000, */
    /* 1px -1px 0 #000, */
    /* -1px 1px 0 #000, */
    1px 1px 0 #000;
}

.index_meta {
    width: 100%;
    margin:0;
    padding:.5em;
/* border-left:1px solid #fff; */
}


/* Tagger */
#tagger iframe {
    width: 20em;height: 20em;
    border:5px solid #FFF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
/* 	background-color:#FFF; */
}

#taggerTable {
    background: #000528;
    width: 100%;height: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#taggerTable td {
    padding:0 1em;
    vertical-align:top;
}

#taggerTable td.label {
    width: 30%;
}

#taggerTable td.field {
    width: 70%;
}

#taggerTable td.field .textField {
    width: 100%;
    color:#FFF;
    background:none repeat scroll 0 0 transparent;
    border:#FFF 1px solid medium;
}

#taggerTable .button {
    width: 49%;
}


a.test-sm {
    cursor:pointer
}


/* tables */

table.list tr td {
    /* 	padding : .1em .5em; */
    height : 3em;
    padding : 0;
}

table.list tr.audio td {
    padding : 0 .5em;
}

table.list tr.video td {
/* 	height : 3em; */
}

table.list td, table.list th {
    border-bottom:1px solid #fff;
    text-align:right;
}

table.list td.share {
/* 	width:25px; */
}

table.list td.filename, table.list th.filename {
    text-align:left;
}

table.list tr.audio td.filename {
/* 	width: 90%; */
}

table.list tr.video td.filename {
/* 	width:100%; */
}

table.table_index td.index_info {
/* vertical-align:top; */
/* width:100%; */
}

table.list tbody tr:hover {
    background-color:#2F4F4F;
}

table.list tr.video td.filename div:hover {
/* 	background: #F00 url(img/button_play_off.png) no-repeat fixed left; */
/* 	background: #F00 url(img/button_play_off.png) */
/* 	z-index: 3; */
/* 	background-size: 22px; */
}

table.list tr.video td.filename div {
/* z-index: 2; */
}

table.list {
    width: 100%;
    /* 	border-collapse:separate; */
    border-spacing:0;
    background: transparent url(img/content_pane_gradient_BLUE.png) repeat-x scroll left bottom;
}

table.list thead {
    background: #000528;
}

table.list tbody {

}

table.list a {
    color:#FAFAD2;
    text-decoration:none;
    font-weight: bold;
}


table.list th {
    color:#000528;
    text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;
    font-weight:bold;
}

table.list th.filename {
/* 	text-align: left; */
}


table.list a.dl,
table.list td.video_preview {
/* 	text-align:right; */
}

table.list a:visited.dl {
/* 	text-align:right; */
}

table.list a.nodl {
}

/* end tables */


/* Experimental CSS3 tables */

/*
  table {
  display: table;
  width: 100%;
  font: 90%/1.5em "Lucida Grande", Geneva,
  "DejaVu Sans", "Bitstream Vera Sans", AnjaliOldLipi,
  "Lucida sans", "Trebuchet MS", Arial, Verdana;
  text-align: left;
  border: 4px black double;
  border-spacing: 0;
  -moz-border-radius: 12px;
  -moz-box-shadow: #6a3d37 5px 5px 6px;
  -webkit-border-radius: 12px;
  -webkit-box-shadow: #6a3d37 5px 5px 6px;
  border-radius: 12px;
  box-shadow: #6a3d37 5px 5px 6px;
  background: #b59d5c
  }

th {
color: #fff;
font-size: 110%;
text-shadow: #6a3d37 2px 2px 2px
}

th:first-of-type {
font-weight: bold;
font-style: italic
}

tbody tr:nth-child(odd) {
color: #e0d8cb;
background: #474644
}

tbody tr:nth-child(even) {
color: #6a3d37
}

th:first-of-type,
td:first-of-type {
padding: 0 0 0 4em
}

th:last-of-type,
td:last-of-type {
padding: 0 4em 0 0
}

tbody tr:nth-last-child(-n+2) {
opacity: .75
}

tbody tr:nth-child(3n+1):not(:last-child) td {
text-shadow: red 0 0 8px
}
*/


#albumBrowser {
    border: #fb0 1px solid;
    height:100px;
/*	line-height:6em;*/
}

#albumBrowser .left,
#albumBrowser .right,
#albumBrowser .middle {
    height:70px;
    width:280px;
    padding:10px;
}

#albumBrowser .left {
    /*	position:relative;*/
    float:left;
    text-align:left;
}

#albumBrowser .right {
    /*	position:relative;*/
    float:right;
    text-align:right;
}

#albumBrowser .middle {
    padding-top: 1.3em;
    margin: 0 auto;
    text-align:center;
}

.fadeAlbums {
    font-size:75%;
    text-align:left;
    /* margin:auto auto; */
    float:left;
}


.fadeAlbums strong {
    border-bottom: 1px solid #333;
}


#albumBrowser .thumb {
    width: 80px;
    height: 80px;
}

#albumBrowser p {
    margin: .5em 0 0 0;
}

table.footdown {
    width:95%;
    margin-left:auto;
    margin-right:auto;
    padding:0.5em 0.5em;
    text-align:center;
    font:normal 9px Arial, Verdana, Helvetica, sans-serif;
    border-collapse:separate;
    border-spacing:0;
    color:#FAFAD2;
}

/*index page*/


#wrapper {
    width: 760px;
    margin: 0 auto;
}

#intro {
    padding-bottom: 10px;
}

h2 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

#slider {
    width: 60%;
    max-width:1000px;
    margin: 5% auto;
    position: relative;
    text-align: center;
}

.scroll {
    height: 220px;
    /*     width: 80%; */
    overflow: auto;
    /*    overflow-x: hidden;*/
    position: relative;
    clear: left;
    background: #000528 url(img/content_pane_gradient_BLUE.png) repeat-x scroll left bottom;
    border: 5px solid #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.scrollContainer div.panel {
    width: 560px;height: 200px;
    padding: 10px 2px 10px 2px;
/* 	margin: 10px 0 0 0; */
}

#shade {
    background: #EDEDEC url(img/shade.jpg) no-repeat 0 0;
    height: 50px;
}

ul.navigation {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
}

ul.navigation li {
    display: inline;
    margin-right: 10px;
}

ul.navigation a {
    padding: 10px;
    color: #000;
    text-decoration: none;
}

ul.navigation a:hover {
    background-color: #f6f6f6;
}

ul.navigation a.selected {
    background-color: #fff;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    /*     position: absolute; */
    /*     cursor: pointer; */
    border:0;
    margin: 1em auto;
    position: relative;
}

.scrollButtons.left {
/*     left: 0px; */
/*     top: -200px; */
}

.scrollButtons.right {
/*     right: -170px; */
/*     left: 0px; */
/*     top: 250px; */

}

.hide {
    display: none;
}

/*end index page*/


/* Buttons */
img.buttons {
    width:2.5em;height:2.5em;
}

.play_link {
/* 	background: transparent url(img/button_play_off.png) no-repeat 0 0; */
/* 	padding:2px 0; */
/* 	font-size: 1.2em; */
}

.play_link:hover {
/* 	background: transparent url(img/button_play_on.png) no-repeat 0 0; */
}

.share_link {
/* 	background: transparent url(img/button_share_on.png) no-repeat 0 0; */
/* 	padding:4px 18px; */
/* 	min-width: 600px; */
/* 	border: #f00 1px solid; */
/* 	line-height: 18px; */
}

.play_link span {
    padding: 0 0 0 .5em;
}


/* SimpleModal */

#help {
    background: #000528 url(img/content_pane_gradient_BLUE.png) repeat-x scroll left bottom;
    color: #fff;
    border: 5px solid #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 5px;
    opacity:0.9;
}

#help p {
    margin:5px;
}

#simplemodal-container a.modalCloseImg {
    width:3em;height:3em;
    background:url(img/button_close_off.png) no-repeat;
    display:inline;
    z-index:3;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}

#simplemodal-container a.modalCloseImg:hover {
    background:url(img/button_close_on.png) no-repeat;
}


/* Share it box */

#shareit-box {
    position:absolute;
    display:none;
}

#shareit-header {
    width:100%;
}


#shareit-body {
    width:19em; height:6.5em;
    background:#000;
    border: 5px solid #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    text-align:center;
}

#shareit-url {
    padding : .2em;
}

#shareit-url input.field {
    width:98%; height:1.4em;
    /* 	background: transparent url(img/share/field.gif) no-repeat; */
    border: 1px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* 	padding:0; */
    margin: 0 auto .2em auto;
    font-size: 1em;
    font-weight: bold;
}

#shareit-icon {
    padding: 0;
/* height:20px; */
}

#shareit-icon img {
    width:2.1em;
/* 	outline: 1px solid #F00; */
}


img.video_thumbnail {
    width:3em;
    float:right;
}

#PagePlayerDescription {
    margin-left: auto;
    margin-right: auto;
    /* text-align:left; */
}

.songMenu {
    overflow: auto;
    width: 100%;
    border-top: 1px solid #888;
    margin: 1em 0 0 0;
    text-align:center;
    /* margin:0px auto; */
    background:#888;
/*  outline: 1px solid #F00; */
}

.songMenu div.div1 {
    /* float:left; */
    /*     outline: 1px solid #F00; */
    width:50%
}

.songMenu div.div2 {
    float:right;
    width:50%
}

.songMenu div {
    display:inline;
    float:left;
    background:#555;
    text-align: center;
}

.songMenu div:hover {
    background:#999;
}

#PagePlayerDescription h4 {
    margin: .5em 0 0 0;
}

#PagePlayerDescription h4, #PagePlayerDescription h5, #PagePlayerDescription p , .desc {
    /* border-bottom: 1px solid #888; */
    font-size:1em;
    margin: 0 .5em;
}

#PagePlayerDescription span.desc {
    /* display:inline-block; */
    /* width:45%; */
}

#PagePlayerDescription span.albumName {
    display:block;
}

.desc {
    /* text-align:left; */
    float:left;
    clear:right;
    /* padding:0 0 0 1em; */
}

#PagePlayerDescription h4.artistName {
    color: #004080;
}

#PagePlayerDescription .albumName {
    background:#555;
    margin: 0 0 .2em 0;
    font-size:14pt;
    text-align:center;
    width:100%;
    z-index:2;
}

#PagePlayerDescription h5 {
    color: #004080;
}

#songMenu, #PagePlayerDescription form {
    margin: 1em 0 0 0;
}

#songMenu div a {
    font-size:9pt;
    text-decoration:none
}

span.rightSpan {
    float:right;
}

#osx-container * {
    text-align:left;
}

div#osx-modal-data a {
    text-decoration:underline;
    color: #000;
}

#PagePlayerList {
    min-width:50%;
    width:71%;
    float:left;
}

#PagePlayerDescription {
    /*     min-width:30%; */
    width:26%;
    position: relative;
}

span.leftSpan, span.rightSpan, p, form, div.songMenu, #PagePlayerDescription span.albumName * {
    position: relative;
    z-index: 2;
}

.leftSpan {
    /* float:left; */
    /* display:inline-block; */
}

form.urlFields input {
    width:90%;
    border:#FB0 1px solid;
    margin:.2em;
    padding:.1em;
    font-size:1.2em;
    text-decoration:bolder;
    background:default;
}

span.opaque {
display:block;
position: absolute;
background-color: black;
filter:alpha(opacity=55);
-moz-opacity:.55;
opacity:.55;
height: 100%;
width: 100%;
z-index: 1;
}

/* Tweets */

#tweets, #videos {
    width: 100%;
}

.tweet, .video {
    border: 1px solid #FFBB00;
    background: #555;
    margin: 0 0 .5em 0;
    /* margin-right: auto; */
    min-height: 2em;
    padding: .3em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.video {
    min-height:2.5em;
}

.tweet img {
    float: left;
    margin: 0 .5em 0 0;
}

.tweet .text {
    /* font-size: 1em; */
    /* margin: 0; */
    /* color:#000; */
}

.tweet .time a {
    vertical-align:top;
    clear:both;
    font-size: 80%;
    color: #888;
    white-space: nowrap;
    text-decoration: none;
}

.tweet .time a:hover {
    text-decoration: underline;
}

#twitterSearch .tweet {
    min-height: 24px;
}

#twitterSearch .tweet .text {
    margin-left: 32px;
}


/* Impromptu (no-audio popup) */
.jqifade{
	position: absolute;
	background-color: #aaaaaa;
}
div.jqi{
	width: 50%;
	/* font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; */
	position: absolute;
	background-color: #ffffff;
	/* font-size: 11px; */
	text-align: left;
	border: solid 1px #eeeeee;
	/* border-radius: 10px; */
	/* -moz-border-radius: 10px; */
	/* -webkit-border-radius: 10px; */
	padding: 7px;
}
div.jqi .jqicontainer{
	font-weight: bold;
}
div.jqi .jqiclose{
	position: absolute;
	top: 4px; right: -2px;
	width: 18px;
	cursor: pointer;
	color: #bbbbbb;
	font-weight: bold;
}
div.jqi .jqimessage{
	padding: 10px;
	line-height: 20px;
	color: #444444;
}
div.jqi .jqibuttons{
	text-align: right;
	padding: 5px 0 5px 0;
	border: solid 1px #eeeeee;
	background-color: #f4f4f4;
}
div.jqi button{
	padding: 3px 10px;
	margin: 0 10px;
	background-color: #2F6073;
	border: solid 1px #f4f4f4;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}
div.jqi button:hover{
	background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{
	background-color: #BF5E26;
}
.jqiwarning .jqi .jqibuttons{
	background-color: #BF5E26;
}

p#searchLinks {
    margin: 1em 0 1em 0;
}

p#searchLinks a:hover {
    background: #ccc;
    color:#000;
}
p#searchLinks a {
    font-weight:bold;
    text-decoration:none;
    background: #555;
    border: 1px solid #FFBB00;
    border-radius: 4px 4px 4px 4px;
    margin: 0 .5em 0 0;
    padding: 0.3em;
}

#tweets span.time {
    /* border: 1px solid #FFBB00; */
    background: #555;
    border-right: 1px solid #FFBB00;
    border-top: 1px solid #555;
    border-left: 1px solid #FFBB00;
    border-bottom: 1px solid #FFBB00;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    /* height:2em; */
    margin: 0 0 0 1em;
    padding:.2em;
    display:block;
    float:right;
    clear:left;
}

#tweets p.text {
    /* width:90%; */
}


/* Version Checking */
#version {
    font-size:300%;
    cursor:pointer;
}

#version .unknown {
    color:orange;
}

#version .unmoved {
    color:green;
}

#version .moved {
    color:red;
    display:invisible;
}

/* Roundabout */

ul#indexMenu {
    list-style: none;
    padding: 0;
    margin: auto auto;
    width: 42em;
    height: 28em;
}

ul#indexMenu li {
    height: 24em;
    width: 24em;
    text-align: center;
    cursor: pointer;
}

ul#indexMenu li img {
    width: 100%;
}

ul#indexMenu li.roundabout-in-focus {
    cursor: default;
}

ul#indexMenu li span {
    display: block;
    padding-top: 6em;
}

ul#indexMenu li p {
    text-align:center;
}
