* {
    text-align:left;
}

html {
    background: #000528;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

img {
    border: 0;
}

p, li, span, h1, h2, h3, h4, h5  {
    text-align: left;
    vertical-align:default;
}

p#footBr {
    height:3em;
}

a:link {
    color:#ccc;
    text-decoration:none;
}

a:hover {
    color:#FFBB00;
}

a:visited {
    color:#ccc;
}

div#main {
    margin-left: auto;
    margin-right: auto;
    width:95%;
}

.zindex-one {
    z-index: 5;
}

div#controlFooter {
    padding:.2em;
    position:absolute;
    bottom: 0;
    width:100%;
    background: #000;
    border-top: 5px solid #fff;
}

/* Buttons */
img.buttons {
    width:2.5em;height:2.5em;
}

@media screen{
    body>div#controlFooter{
	position:fixed;
    }
}

.iconClose:hover {
    background: #f00;
    background: #f00 url(img/button_close_on.png) no-repeat 100% 100%;
}

/*Classe de tous les divs principaux*/

.main {
    /* width:95%; */
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
}

#header {
    border-bottom:1px solid #fff;
    overflow: hidden;
    height:200px;
}

#header .left {
    height:200px;
    float:left;
    width:70%;
}

#header .middle {
    margin:0;
    padding:0;
    height:200px;
    float:left;
    /* 	width:20%; */
    width:23px;
    background: url(img/arrowhead_right.png) no-repeat 0 0;
}

#header .right {
    float:right;
    text-align:right;
    width:200px;
}

#header div.sleeves {
    text-align:right;
    width:200px;
    height:200px;
}

#header div.sleeves img {
    height:200px;
}

#header div.artistName {
    text-align: left;
    height: 98px;
    font: bolder 5em helvetica, sans-serif;

   -webkit-text-stroke: 2px black;
   color: #004080;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;


    /* color: 	#004080; */
    /*	position: relative;
	top: 0px;
	left: 15px;
        margin-left: 0px;
	margin-bottom: -70px;*/
    border-bottom:3px solid #fff;
}

#header div.albumName {
    text-align: left;
    font: lighter italic 2em sans-serif;
    color: #FFF;
   text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    margin: -1.5em 0 0 1em;
}

#MlPlayerDescription h4 {
    color:#ccc;
    background-color:#333;
    text-align:center;
    margin:0;
}

p#trackComment {
    color:#ccc;
    text-shadow:
    1px 1px 0 #000;
}

.index_meta {
    width: 100%;
    margin:0;
    padding:.5em;
}

/* microlabel-tagger */
#microlabel-tagger, #microlabel-tagger a:link, #microlabel-tagger a:visited {
    font-color:#000;
}

.microlabel-message {
    color:#ccc;
    font-size:75%;
}

/*
 * .input {
 *     display:none;
 * }
 */

#microlabel-tagger table.table {
    width:100%;
    border: 1px solid #FFBB00;
    border-collapse:collapse;
}


#microlabel-tagger table.table td {
    padding:0 .3em;
}


#microlabel-tagger table.table th:not(.path), #microlabel-tagger table.table td {
    font-weight:bolder;
    font-size:75%;
    /* padding:.2em; */
}

td.navigation * {
    vertical-align: middle;
}

th.path {
    text-align:right;
    padding:1em;
}

#microlabel-tagger table.table > td {
    border-right: 1px solid #FFBB00;
}

#microlabel-tagger table.navigation {
    width:100%;
    border-collapse:collapse;
    border:0;
}

#microlabel-tagger table * {
    vertical-align: middle;
}

#microlabel-tagger table td.audiofile:before {
}

/*
 * html body#microlabel-tagger.microlabel-body table.table tbody tr:nth-child(3) {
 *     font-size:100%;
 *     border-bottom: 1px solid #FFBB00;
 *     color:#ccc;
 *     background-color:#111;
 * }
 */

/* :last-child */

#microlabel-tagger table tr:nth-child(odd) { /*(odd) or (2n 1)*/
    background: #333;
}
/* tables */


/*  Define the background color for all the EVEN table columns  */
/*
 * #microlabel-tagger table tr td:nth-child(even), #microlabel-tagger table tr th:nth-child(even) {
 *     background: #111;
 * }
 */

#microlabel-tagger table tr:nth-last-child(-n+2) {
    background-color:#000;
}

#microlabel-tagger table.table tr:nth-last-child(2) {
    border-top: 1px solid #fb0;
}

html body#microlabel-tagger.microlabel-body div#main table.microlabel-tagger tbody tr td {
    border-left: 1px solid #fb0;
}

html body#microlabel-tagger.microlabel-body div#main table.microlabel-tagger tbody tr td table.small-table tbody tr {
    border: 1px solid #222;
}

html body#microlabel-tagger.microlabel-body div#main table.microlabel-tagger tbody tr th {
    border-left: 1px solid #fb0;
}

html body#microlabel-tagger.microlabel-body div#main table.microlabel-tagger tbody tr td table#small-table tbody tr * {
    border: 0 solid red;
}

html body#microlabel-tagger.microlabel-body div#main table.microlabel-tagger tbody tr td.navigation {
    border-bottom: 1px solid #fb0;
    border-top: 1px solid #fb0;
}

#small-table {
    width:100%;
    /* border-collapse:collapse; */
    /* background-color:#ccc; */
}

#small-table * {
    border-left: 2px solid red;
}


table.list tbody tr:hover {
    background-color:#2F4F4F;
}

#albumBrowser {
    border: #fb0 1px solid;
    height:100px;
/*	line-height:6em;*/
}

#albumBrowser .left,
#albumBrowser .right,
#albumBrowser .middle {
    height:70px;
    width:280px;
    padding:10px;
}

#albumBrowser .left {
    /*	position:relative;*/
    float:left;
    text-align:left;
}

#albumBrowser .right {
    /*	position:relative;*/
    float:right;
    text-align:right;
}

#albumBrowser .middle {
    padding-top: 1.3em;
    margin: 0 auto;
    text-align:center;
}

.fadeAlbums {
    color:#ccc;
    font-size:75%;
    text-align:left;
    /* margin:auto auto; */
    float:left;
}


.fadeAlbums strong {
    border-bottom: 1px solid #333;
}


#albumBrowser .thumb {
    width: 80px;
    height: 80px;
}

#albumBrowser p {
    margin: .5em 0 0 0;
}

/*index page*/

h2 {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

/*end index page*/



#MlPlayerDescription {
    margin-left: auto;
    margin-right: auto;
    /* text-align:left; */
}

table.album-description {
    /* background-color: #ccc; */
    border-spacing: 1px;
    width: 100%;
    border-collapse: collapse;
    padding: 0.5em;
}

#MlPlayerDescription p {
    color:#ccc;
    background-color:#333;
    border-top: 1px solid #FFBB00;
    border-bottom: 1px solid #FFBB00;
    padding:0 .5em;
    margin:0;
    text-align:right;
    text-shadow: 0 0 0.2em #FFBB00, 0 0 0.2em #FFBB00;
}

table.album-description tr:not(:last-child) {
    border-bottom: 1px solid #555;
}

table.album-description td {
    padding:0 .2em;
    width: 50%;
    text-align:left;
    color:#ccc;
}

.visible_if_no_audio {
    width:100%;
    border:1px solid red;
}

table.album-description td.value, table td.right {
    text-align:right;
}

.songMenu {
    width: 100%;
    border-top: 1px solid #888;
    margin: 1em 0 0 0;
    text-align:center;
    /* margin:0px auto; */
    background:#888;
/*  outline: 1px solid #F00; */
}

table.songMenu {
    border-spacing:0;
    border:0;
    z-index:10;
}

table.songMenu td {
    width:50%;
    background:#555;
    /* text-align: center; */
    margin:0;
    padding:0;
}

table.songMenu td * {
    vertical-align: middle;
}

table.songMenu td:hover {
    background:#999;
}

#MlPlayerDescription form {
    margin: 1em 0 0 0;
}

#osx-container * {
    text-align:left;
}

div#osx-modal-data a {
    text-decoration:underline;
    color: #000;
}

#MlPlayerList {
    min-width:50%;
    width:71%;
    float:left;
}

#MlPlayerDescription {
    /*     min-width:30%; */
    width:26%;
    position: relative;
}

form.urlFields input {
    width:90%;
    border:#FB0 1px solid;
    margin:.2em;
    padding:.1em;
    font-size:1.2em;
    text-decoration:bolder;
    background:default;
}


/* Version Checking */
#version * {
    font-size:300%;
    cursor:pointer;
}

#version .unknown {
    color:orange;
}

#version .unmoved {
    color:green;
}

#version .moved {
    color:red;
    display:invisible;
}

/* Roundabout */

ul#microlabel {
    list-style: none;
    padding: 0;
    margin: auto auto;
    width: 42em;
    height: 28em;
}

ul#microlabel li {
    height: 24em;
    width: 24em;
    text-align: center;
    cursor: pointer;
}

ul#microlabel li img {
    width: 100%;
}

ul#microlabel li.roundabout-in-focus {
    cursor: default;
}

ul#microlabel li span {
    display: block;
    padding-top: 6em;
}

ul#microlabel li p {
    text-align:center;
    text-shadow: 1px 0px 20px yellow;
}

body#microlabel-index a:link {
    color:#eee;
    text-decoration:none;
}

body#microlabel-index a:visited {
    color:#eee;
}

.MlPlayerVideoItem {
    /* font-size:90%; */
    font-weight:bold;
    cursor: pointer;
    height:1.5em;
    padding:.1em;
}

img.video_thumbnail {
    margin:0;
    width:2em;
    float:right;
}

a:link {
    text-decoration:none;
}

.transparent, #MlPlayerDescription {
    background-color:rgba(17,17,17,0.6);
}

.microlabel-body {
    margin:0;
    color:#fff;
}

.powered-by {
    float:right;
    border: 1px #CCCCCC solid;
    border-radius:5px;
    padding: 5px;
    margin: 5px 0px;
    float: left;
    font-size: 8pt;
    font-face: sans-serif;
}

div.tagger-path {
    margin:.5em;
    display:inline;
    float:right;
}


div.tagger-path:after {
    content: " ◀";
}

.directory * {
    vertical-align: middle;
}

.dingbats {
    font-size:150%;
}

div.musicien {
    width:30px;
    height:28px;
    overflow:hidden;
    margin:0 0 .5em 0;
    padding:0 0 .2em 0;
    background-color:#333;
    border:1px solid #ccc;
    border-radius:5px;
}

h5.musicien {
    padding:.2em;
    height:25px;
    background-color:#ccc;
    color:#333;
    margin:0;
    font-size:110%;
}

img.instrument, img.contact {
    width:24px;
    margin:.2em;
}

img.gravatar {
    width:24px;
    /* float:right; */
    margin:0 .2em 0 0;
}
